* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9f9f9f;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body {
  background-color: #27272a;
  color: #fafafa;
  font-family: "Sono", sans-serif;
  padding: 40px 64px 0;
  overflow-x: hidden;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 170px);
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.text-center {
  text-align: center;
  margin: 15px 0;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.error-message {
  height: 300px;
  padding: 15px;
  background-color: #3f3f46;
  border-radius: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

.disputed {
  color: #ef4444;
  font-weight: 600;
  margin-right: 10px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #3f3f46;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

section {
  overflow-y: auto;
  padding-right: 10px;
}

@media (max-width: 1200px) {
  body {
    padding: 35px 30px 0;
  }
  .fact {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .fact span {
    margin-left: auto;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  cursor: pointer;
}

#options {
  /* background: linear-gradient(to right, #16a085, #f4d03f); */
  /* background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae); */
  /* background: linear-gradient(to right, #314755, #26a0da); */
  /* background: linear-gradient(to right, #e65c00, #f9d423); */
  /* background: linear-gradient(to right, #ec008c, #fc6767); */
  /* background: linear-gradient(to right, #c31432, #240b36); */
  /* background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); */
  /* background: linear-gradient(to right, #2c3e50, #fd746c); */

  background: linear-gradient(to right, #bbd2c5, #536976);
  border: none;
  border-radius: 100px;
  padding: 20px 10px;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  font-family: inherit;
  outline: none;
  width: 100%;
  text-align: center;
}

#options option {
  background-color: #3f3f46;
  color: #ffffff;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #71717a;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #27272a;
}

.vote-buttons button:disabled {
  background-color: #3f3f46;
}

ul {
  list-style: none;
}

aside {
  margin-bottom: 20px;
}

.source:link,
.source:visited {
  color: #a1a1aa;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
.fact-form {
  background-color: #3f3f46;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #52525b;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  outline: none;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }

  aside {
    margin-bottom: auto;
  }

  .message {
    margin-top: 0 !important;
    margin-bottom: 38px;
  }

  .error-message {
    height: auto;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 20px 15px 0;
  }

  .btn:hover {
    transform: scale(105%) rotate(-2deg);
  }

  .header {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  .btn-large {
    font-size: 17px;
    padding: 15px 25px 15px;
  }

  .btn-open {
    margin-top: 15px;
  }

  h1 {
    font-size: 31px;
  }

  .logo img {
    height: 52px;
    width: 52px;
  }

  .fact-form {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }

  .logo img {
    height: 45px;
    width: 45px;
  }

  .fact {
    padding: 10px 15px;
  }
}
